<div class="flex h-screen">
  <as-split>
    <as-split-area class="bg-gray-200 p-4 relative" maxSize="30" minSize="10" size="15">
      <div class="flex items-center gap-4">
        <img alt="" height="30" ngSrc="images/logo.png" width="30" />
        <h1 class="text-2xl">Garden Calendar</h1>
      </div>
      <hr class="my-4" />
      <p class="text-lg">Filter</p>
      <form class="flex flex-col gap-2">
        <div>
          <label for="search">Search</label>
          <input
            [formField]="filter.search"
            class="w-full p-2 border rounded"
            id="search"
            placeholder="Search"
            type="text"
          />
        </div>

        <label>
          <input [formField]="filter.onlyBookmarked" type="checkbox" />
          Bookmarked plants only
        </label>

        <label>
          <input [formField]="filter.onlyHarvestable" type="checkbox" />
          Can be harvested this month
        </label>

        <label>
          <input [formField]="filter.onlySeedable" type="checkbox" />
          Can be sown this month
        </label>
      </form>
      <div class="absolute flex items-center gap-4 bottom-0 left-0 p-4">
        <svg class="text-gray-500" lucideCircleAlert />
        <p class="text-sm text-gray-500">
          All dates are for the Central European climate.
          Dates might not apply for your region.
        </p>
      </div>

    </as-split-area>
    <as-split-area class="w-full h-screen relative">
      <div class="h-full flex flex-col overflow-y-auto">
        <app-plant-calendar [(detailPlant)]="detailPlant" [plants]="filteredPlants()"
                            class="block flex-none duration-300" />
        @if (filteredPlants().length === 0) {
          <div class="flex flex-col items-center justify-center gap-6 flex-1">
            <img alt="" height="256" ngSrc="images/empty_no_plants.png" width="237" />
            <div class="flex flex-col items-center">
              <h2 class="text-2xl font-bold">No plants</h2>
              <p class="text-lg text-center">
                There are no plants matching your filter criteria.<br />Adjust your filters to see
                more.
              </p>
            </div>
          </div>
        }
      </div>
    </as-split-area>
    @if (detailPlant()) {
      <as-split-area class="bg-gray-200 p-4" maxSize="30" minSize="10" size="15">
        <div class="flex justify-between">
          <h1 class="text-xl">{{ detailPlant()!.name }}</h1>
          <button (click)="detailPlant.set(undefined)">
            <svg lucideXCircle />
          </button>
        </div>
        <p class="text-lg font-bold flex items-center mt-8 mb-2 gap-2">
          <svg lucideInfo />
          Details
        </p>
        <p>{{ detailPlant()!.description }}</p>
        <p class="text-lg font-bold flex items-center mt-8 mb-2 gap-2">
          <svg lucideLightbulb />
          Tip
        </p>
        <p>{{ detailPlant()!.tip }}</p>
      </as-split-area>
    }
  </as-split>
</div>
